.comments {
    margin-top: 30px;
    border-color: var(--code-bg);
    border-width: 2px;
    border-radius: var(--radius);
    border-style: dashed;
}

.comments .login {
    display: none;
    padding: 10px;
    text-align: center;
    /* background-color: var(--code-bg); */
    /* line-height: 32pxs; */
  }
  
.comments .login button {
    background: #3498db;
    border: none;
    border-radius: var(--radius);
    padding: 1px 5px;
    color: #FFF;
    font-size: 1.0em;
    cursor: pointer;
  }
  
.comments .comment-input {
    margin-top: 10px;
    padding: 10px;
    display: none;
    flex-direction: row;
  }
  
.comments .comment-input .avatar {
    flex-basis: 32px;
    width: 32px; height: 32px;
    border-radius: 3px;
    overflow: hidden;
  }
  
.comments .comment-input .input {
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
.comments .comment-input .input textarea {
    padding: 5px;
    outline: none;
    font-size: 1.0em;
    border: 1px solid #CCC;
    resize: none;
    border-radius: 3px;
    min-height: 50px;
    max-height: 120px;
  }
  
.comments .comment-input .input button {
    display: none;
  }
  
.comments .comment-input .input span {
    flex-basis: 14px;
    font-size: 0.8em;
    margin-top: 5px;
    text-align: right;
    color: #555;
  }
  
.comments .comment-input .input span kbd {
    background: #FAFAFA;
    padding: 3px;
  }
  
  @media only screen and (max-width: 768px) {
  .comments .comment-input .input {
      flex-direction: row;
    }
  
  .comments .comment-input .input span {
      display: none;
    }
  
  .comments .comment-input .input textarea {
      flex: 1;
    }
  
  .comments .comment-input .input button {
      display: block;
      flex-basis: 55px;
      height: 55px;
      border: 1px solid #FFF;
      background: #3498db;
      color: #FFF;
      border-radius: 3px;
      cursor: pointer;
    }
  }
  
.comments .comment-list {
    margin: 0; padding: 10px;
    padding-top: 0px;
    list-style: none;
  }
  
.comments .comment-list li {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
  }

  
.comments .comment-list li:before {
    display: none;
    content: "";
  }
  
.comments .comment-list li .avatar {
    flex-basis: 32px;
    width: 32px; height: 32px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #FAFAFA;
  }
  
.comments .comment-list li .comment {
    flex: 1;
    margin-left: 5px;
  }

  .comments .comment-list li .comment .content {
    font-size: 15px;
    color: var(--content);
  }
  
.comments .comment-list li .comment .metadata {
    font-size: 14px;
    color: var(--secondary);
  }
  
.comments .comment-list li .comment .metadata b {
    color: var(--content);
  }